doctype html
html
  head
    title Centaur Token Center | Frontier3
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Centaur Community UI for TokenFactory Cosmos SDK modules")
  body
    div Centaur Token Center

